In [1]:
first_name = 'Sham' #str
last_name = 'Kumar' #str

In [2]:
print(first_name + last_name)

ShamKumar

In [3]:
print(first_name + ' ' + last_name)

Sham Kumar

In [4]:
marks = 58

In [5]:
print(first_name + marks) # str + int

TypeError: can only concatenate str (not "int") to str

In [6]:
# Combine unique datasets we can use ','
print(first_name , marks)  #not cocatinating

Sham 58

In [7]:
print('My name is ' + first_name)

My name is Sham

In [8]:
print('My name is ' + first_name + 'I got above marks:- ', marks)

My name is ShamI got above marks:-  58

In [9]:
first_name

'Sham'

In [11]:
# f formating 
print(f'My name is {first_name} and I got {marks} marks')

My name is Sham and I got 58 marks

In [14]:
profession = 'Software Engineer'
work = 'Write Code'
salery = 70000

In [15]:
print(f'My prefession is {profession} and my work is to {work} and I am getting {salery} in hand')

My prefession is Software Engineer and my work is to Write Code and I am getting 70000 in hand

In [16]:
# How to take user input
name = input('Write your full name')
print(f'Your full name is {name}')

Write your full name Sham Hira Kumar

Your full name is Sham Hira Kumar

In [17]:
first_name = input()
last_name = input('Write your last name')
print(first_name + last_name)

 Om
Write your last name Kumar

OmKumar

In [18]:
type(first_name)

str

In [19]:
type(last_name)

str

In [20]:
# What if I have to take int input
age = input('Write your age')
print('Your age is' + age)

Write your age 40

Your age is40

In [21]:
type(age)

str

In [22]:
'40'

'40'

In [23]:
type('40')

str

In [24]:
int('40')

40

In [25]:
age = int(input('Write your age'))

Write your age 40

In [26]:
age

40

In [27]:
type(age)

int

In [30]:
height = int(input('Write height'))  #int

Write height 7.2

ValueError: invalid literal for int() with base 10: '7.2'

In [31]:
profession = input('Enter your profession')  #str 
work = input('Enter your work in detail')    #str
salery = int(input('Enter your salery in numbers only')) #int
print(f'Your profession is {profession}. Your work is to {work}. Your salery is {salery}. ')

Enter your profession Civil Engineer
Enter your work in detail build buildings
Enter your salery in numbers only 30000

Your profession is Civil Engineer. Your work is to build buildings. Your salery is 30000.

In [35]:
# You can take similar input for float 
height = float(input('Enter your height in feet'))
print(f'Your Height is {height} in feet')

Enter your height in feet 7.3

Your Height is 7.3 in feet

In [36]:
# Multiple variables

In [37]:
a,b,c = 10,20,30

In [38]:
a

10

In [39]:
b

20

In [40]:
c

30

# Arithmetic Operators

In [41]:
'+'

'+'

In [42]:
10 + 5

15

In [43]:
'Hello' + 'World'

'HelloWorld'

In [44]:
10 - 5

5

In [45]:
4 -1.23

2.77

In [46]:
10 * 5

50

In [47]:
2 * 7

14

In [48]:
'Hello' * 3

'HelloHelloHello'

In [49]:
'O' * 10

'OOOOOOOOOO'

In [50]:
'_' * 80

'________________________________________________________________________________'

In [51]:
10 / 5

2.0

In [52]:
3 / 2

1.5

In [53]:
787 / 7

112.42857142857143

In [54]:
10 %  3

1

In [55]:
10 % 2  # rem will be 0 ---> even numbers

0

In [57]:
13 % 2 #odd number

1

In [58]:
173673 % 213

78

In [59]:
# Power

In [60]:
2 ** 3

8

In [61]:
3 ** 2

9

In [ ]:
x = 70
print( x ** 2)